.App {
  text-align: center;
}

.App-header {
  background-color: #dfdfdf;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100px, 100px, 100px;
  grid-template-rows: 100px, 100px, 30px, 100px;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

button {
  margin: auto;
  background-color: rgb(161, 161, 161);
  border-radius: 100%;
  width: 30px;
  padding: 42px;
  grid-row: 3;
  box-shadow:
      -12px  -12px  -12px 0 rgba(255, 174, 0, 0.3),
      12px 12px 12px 0 rgba(255, 1, 157, 0.75);
}

p {
  margin: auto;
  grid-column: 2;
  grid-row: 4;
}

.logo {
  margin: auto;
  grid-column: 2;
  grid-row: 1;
  height: 25vmin;
}

.left-button {
  grid-column: 1;
}

.right-button {
  grid-column: 3;
}

.picture {
  max-width: 1000px;
  margin: auto;
  grid-column: 2;
  grid-row: 2;
  height: 30vmin;
}
